@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');

body {
    font-family: 'Share', cursive;
    font-size: 14px;
    width: 100%;
}

.top-bit {
    display: flex; 
    background-color:navy;
    flex-direction: column; 
    height: auto; 
}

.top-bit p {
    margin: 0 auto;
    color: white;
    font-size: 4vw; 
    margin-top: 2vh;
    
}

.profile-img {
    margin: 0 auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    /* box-shadow: 5px 5px 10px 2px rgba(8, 8, 8, 0.8); */
    height: auto; 
    width: 100%; 
}
nav{
    display: block; 
    font-size: 25px;
    color: white;
    background-color: black;
    text-align: center;
}
nav a{
    color: white; 
    text-decoration: none;
    display: block; 
    margin: 10px 0; 
}
nav a:hover{
    background-color: brown;
}
.frontend{
    color: black;
    text-align: center;
    border-bottom: 1px solid darkgrey;
    margin-left: 5%;
    margin-right: 5%;
}




main {
	max-width: 670px;
	margin: 0 auto;
}

.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 100%;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
    
    /* margin: 0 auto;
    margin-top: 1vh;
    margin-bottom: 1vh; */
    
    /* height: auto; 
    width: 100%;  */
    
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	/* Buenas */
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
	font-family:"Great Vibes", serif;
}




.card {
    text-align: center;
    width: 100%; 
    margin-left: 0;
    margin-right: 0;
    outline: 2px lightgray solid;
    border-radius: 3px;
    
}
.card ul{
    list-style: none;
}

.card h3 {
    color: white;
    background-color: navy;
    width: 100%;
}

.footer{
    margin: 0 auto;
    justify-content: center;
    background-color:navy;
    text-align: center;
}
.footer-paragragh-1{
    color: white;
}
#lastModified{
    color: yellow;
}

@media screen and (max-width: 600px) {
    .mobile-menu-icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 40px;
        cursor: pointer;
    }

    nav {
        display: none;
        position: relative;
    }

    nav.open {
        display: block;
    }
    .close-menu {
        position: absolute;
        top: 0px;
        right: 10px;
        font-size: 45px;
        cursor: pointer;
        display: none;

    }

    .open #googleMap {
        display: block; 
        width: 100%; 
        height: 450px;
    }    
    .card h3 {
        padding:0%;
    }
    .hero img {
        width: 100%;
        height: auto;
    }
    
}
