@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
@media screen and (min-width: 601px){
    body {
        font-family: 'Share', cursive;
        width: 100%;
    }
    .midbitty{
        margin-bottom: 20px;
        margin-top: 20px;
        display: flex;
    }
    
    .top-bit {
        display: flex; 
        background-color:navy;
        height: 30%;
    }

    .top-bit p {
        margin: 0 auto;
        font-size: 6vw;
        color: white;
        margin-top: 10vh;
    }

    .profile-img {
        margin: 0 auto;
        margin-top: 1vh;
        margin-bottom: 1vh;
        height: 30vh; 
        box-shadow: 5px 5px 10px 2px rgba(8, 8, 8, 0.8);
    }
    nav{
        display:flex;

        justify-content: space-around;
        font-size: 25px;
        color: white;
        background-color: black;
        text-align: center;

    }
    nav a{
        color: white; 
        text-decoration: none;
    }
    nav a:hover{
        background-color: brown;
    }
    .frontend{
        color: black;
        text-align: center;
        border-bottom: 1px solid darkgrey;
        margin-left: 7% ;
        margin-right:7% ;
    }
    .card {
        text-align: center;
        width: 86%;
        margin-left: 7% ;
        margin-right:7% ;
        outline: 2px lightgray solid;
        border-radius: 3px;
    }
    .card ul{
        list-style: none;
    }

    .card h3 {
        color: white;
        background-color: navy;
    }

    .footer{
        margin: 0 auto;
        justify-content: center;
        background-color:navy;
        text-align: center;
    }
    .footer-paragragh-1{
        color: white;
    }
    #lastModified{
        color: yellow;
    }
    .mobile-menu-icon {
        display: none;
    }
    .close-menu {
        display: none;
    }
    #googleMap {
        width: 100%;
        height: 600px; 
    }



    main {
        /* max-width: 670px; */
        margin: 0 auto;
    }
    
    .hero {
        margin: 10px auto;
        position: relative;
        border: 1px solid rgba(0,0,0,.1);
        height: 100%;
    }
    
    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .herolabel {
        position: absolute;
        top: 30px;
        left: 30px;
        background: radial-gradient(#fff, #4D5B97);
        border: 1px solid rgba(0,0,0,.75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
        /* Buenas */
    }
    
    .herolabel p {
        margin: 0;
        padding: .25rem;
        font-weight: 700;
        font-size: 1.5rem;
        font-family:"Great Vibes", serif;
    }
    
    
}   